
body{
    background-color: black;
    font-family: sans-serif, 'Times New Roman', Times, serif;
}

p{
    color: crimson
}

h1{
    color: red;
    text-shadow: 2px blue;
}

.pagesnav{
    height: 25px;
    color: black;
    font-size: larger;
    background-color: crimson;
    font-weight: bold;
    text-align: center;
    gap: 25px;
}

div{
    display: flex;
    margin: 8px;
    padding: 4px;
    border: 1px solid grey;
    gap: 8px;
}

#dso_intro{
    color: red;
}

#title{
    font-size: 42px;
    color: red;
    text-shadow: -2px -2px blue;
    text-align: center;
}

#dso_t{
    /* position: fixed; */
    color: crimson;
    font-style: italic;
    text-shadow: -2px -2px blue;
    text-align: center;
}

#w3_t{
    font-size: 42px;
    position: absolute;
    color: red;
    text-shadow: -3px -3px black;
    text-align: center;
}

#dts_t{
    color: crimson;
    font-style: italic;
    text-shadow: -2px -2px blue;
    text-align: center;
}

#ytlogo{
    position: relative;
    right: -656px;  
    width: 20px;
    height: 20px;
    border: 2px solid black;
}

#dsologo{
    object-fit: cover;
    width: 600px;
    height: 80px;
}

#w3logo{
    object-fit: cover;
    width: 100%;   
    height: 80px;
}

#dtslogo{
    object-fit: cover;
    width: 100%;   
    height: 80px;
}


.dso_header{
    justify-content: center;
    align-items: center;
    border: none;
}


.w3_header{
    /* position: relative; */
    justify-content: center;
    align-items: center;
    border: none;
}

.dts_header{
    justify-content: center;
    align-items: center;
    border: none;
}

.hu_section{
    color: blue;
    border: solid 1px blue; 
}

.orc_section{
    color: rgb(133, 0, 0);
    border: solid 1px rgb(133, 0, 0);
}

.ne_section{
    color: cyan;
    border: solid 1px cyan;
}

.ud_section{
    color: purple;
    border: solid 1px purple;
}

.hu_section p{
    color: blue;
    border: 1px solid blue;
}

.orc_section p{
    color: rgb(133, 0, 0);
    border: 1px solid rgb(133, 0, 0);
}

.ne_section p{
    color: cyan;
    border: 1px solid cyan;
}

.ud_section p{
    color: purple;
    border: 1px solid purple;
}